version: '3.8'

services:
  db:
    image: postgres:16
    container_name: agenda_postgres
    environment:
      POSTGRES_DB: agenda_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: skdpo1425
    ports:
      - "5432:5432"   
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4
    container_name: agenda_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: skdpo1425
    ports:
      - "5050:80"    
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - db
    restart: unless-stopped

volumes:
  db_data:
  pgadmin_data:
